<%= form_tag "/cars", method: :post do %>
  <div>vin<input type="text" name="vin"></div>  
  <div>manufacture<input type="text" name="manufacture"></div>
  <div>manufacture<input type="submit" value="submit"></div>
<% end %>
